@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* EDITOR */
/* prism-custom.css */

/* Pure black background and white foreground */
pre,
code {
  background: #000000 !important;
  /* Pure black background */
  color: #ffffff !important;
  /* White text by default */
  font-family: 'Fira Code', 'Courier New', monospace;
  overflow: hidden;
  overflow-x: scroll;
}

/* Customize specific syntax elements */
.token.comment {
  color: #a8a8a8;
  /* Green for comments */
}

.token.string {
  color: #00bfff;
  /* Yellow for strings */
}

.token.function {
  color: #0077ff;
  /* Blue for function names */
}

.token.keyword {
  color: #0077ff;
  /* Orange for keywords */
}

.token.operator {
  color: #ffffff;
  /* White for operators like =, +, etc. */
}

/* Customize brackets, parentheses */
.token.punctuation {
  color: #ffffff;
  /* White for punctuation (like parentheses, brackets, etc.) */
}

/* Line numbers (optional) */
pre[class*="language-"]::before {
  color: #555555;
  /* Grey for line numbers if enabled */
}